# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment variables (NEVER COMMIT)
.env
.env.*

# Django
*.log
db.sqlite3
media/
staticfiles/

# VS Code / IDE
.vscode/
.idea/

# macOS
.DS_Store

# Testing / coverage
.coverage
htmlcov/

# Node (future frontend)
node_modules/
.next/
dist/db.sqlite3
