.defaultDiv {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

.BigPanel {
	align-items: center;
	justify-content: center;
	background-color: #2e2f33;
	width: 65vw;
	height: 80vh;
	border-radius: 25px;
}

.flexRow {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.flexColumn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.flexColumnLeft  {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.leftPanel {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.leftDonnaBig {
	width: 40vw;
	height: 100vh;
	background-color: #194b8c;
}

.leftDonnaSmall {
	width: 5vw;
	height: 100vh;
	background-color: #0a2f5e;
}

.rightDonna {
	/* align-items: center; */
	width: 55vw;
	height: 100vh;
	background-color: #0a2f5e;
	margin: auto;
	overflow: hidden;
}
/* --------------------------------------------------- */
.leftMadonnaBig {
	width: 40vw;
	height: 100vh;
	background-color: #d57e91;
}

.leftMadonnaSmall {
	width: 5vw;
	height: 100vh;
	background-color: #bd6175;
}

.rightMadonna {
	/* align-items: center; */
	width: 55vw;
	height: 100vh;
	background-color: #ffffff;
	margin: auto;
	overflow: hidden;
}

/* --------------------------------------------------- */
.leftNewJeansBig {
	width: 40vw;
	height: 100vh;
	background-color: #ead7ff;
	color: black;
}

.leftNewJeansSmall {
	width: 5vw;
	height: 100vh;
	background-color: #bb9ae0;
}

.rightNewJeans {
	/* align-items: center; */
	width: 55vw;
	height: 100vh;
	background-color: #ffffff;
	margin: auto;
	overflow: hidden;
}
/* --------------------------------------------------- */
.leftmcrBig {
	width: 40vw;
	height: 100vh;
	background-color: #061c25;
}

.leftmcrSmall {
	width: 5vw;
	height: 100vh;
	background-color: #184355;
}

.rightmcr {
	/* align-items: center; */
	width: 55vw;
	height: 100vh;
	background-color: #ffffff;
	margin: auto;
	overflow: hidden;
}

/* --------------------------------------------------- */

.leftDashBig {
	width: 40vw;
	height: 100vh;
	background-color: #2e2f33;
}

.leftDashSmall {
	width: 2.5vw;
	height: 100vh;
	background-color: #000000;
}

.leftDashSmallPurple {
	width: 0.5vw;
	height: 100vh;
	background-color: #99acff;
}

.rightDash {
	/* align-items: center; */
	width: 55vw;
	height: 100vh;
	background-color: white;
	margin: auto;
	overflow: hidden;
}

/* const lightModeColors = {
  headings: "#000000",
  bubbleBackground: "#2e2f33",
  bubbleText: "#ffffff",
  grayText: "#9396a7",
  boxBackground: "#ffffff",
  fullBackground: "#2e2f33",
  accent1: "#99acff",
  accent2: "#6b7bd0",

};

const darkModeColors = {
  headings: "#ffffff",
  bubbleBackground: "#ffffff",
  bubbleText: "#000000",
  grayText: "#9396a7",
  boxBackground: "#2e2f33",
  fullBackground: "#000000",
  accent1: "#99acff",
  accent2: "#6b7bd0",

}; */
